extends layout

block view_css
  link(rel='stylesheet', href='/css/main.css')

block view_script
  script(src='https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js', defer='defer')
  script(src='/script/main.js', defer='defer')

block content
  .jumbotron.hidden-xs.hidden-sm
    .container
      h1#countdown
  .container-fluid
    .grid
      .grid-sizer