extends layout

block view_script
  script(src='/script/countdown.js', defer='defer')

block content
  .jumbotron.hidden-xs.hidden-sm
    .container
      h1#countdown
  .container-fluid
    .grid
      .grid-sizer