extends layout

block content
  .container
    h3 Mitä ihmettä!
    br
    p Mikä Mikkelissä on parasta? Mitä kivaa Mikkelissä voi tehdä? Mikä on Mikkelin paras kaupunginosa ja miksi? Missä sinä viihdyt ja mitä hienoa asuinympäristösi löytyy? #kehtaakehuamikkeli!
    p Kehu jakamalla kuva tai kommentti Twitterissä tai Instagramissa ja lisää siihen hashtag #kehtaakehuamikkeli sekä esimerkiksi kaupunginosa: #urpola tai muu viestiäsi kuvastava hashtag. Viestit ovat kaikkien luettavissa ja niitä voidaan suodattaa hashtagien avulla.
    p Etkö someta? 
      a(href='/sendpost') Kehu tästä.
    p #kehtaakehuamikkeli on Mikkelin kaupungin, Koti yhdessä – Yhdessä koti -juhlavuoden hankkeen, Solmu-projektin, LUPAUS 2016 –ohjelman ja Asuntomessut Mikkelissä 2017 :n yhteinen kampanja ja vastaa sen ylläpidosta. Kampanjan toteuttajat voivat käyttää palveluun ladattuja viestejä ja kuvia #kehtaakehuamikkeli –kampanjan markkinoinnissa
    p Kampanja kerää kehut yhteen. Kannustamme jokaista kantamaan kortensa kekoon ja kehumaan kotikaupunkiamme. Osoitetaan yhdessä, että Mikkeli on mukava, mielenkiintoinen ja onnellinen kaupunki niin nykyisille asukkaille, muuttajille, asuntomessukävijöille kuin matkailijoillekin.
  br
  br
  .container
    .row
      .col-md-2
        img.img-responsive(src='/img/mikkeli_logo.jpeg')
      .col-md-2
        img.img-responsive(src='/img/lupaus.png')
      .col-md-2
        img.img-responsive(src='/img/maakuntaliitto.jpg')
      .col-md-2
        img.img-responsive(src='/img/solmu.jpg')
      .col-md-2
        img.img-responsive(src='/img/asuntomessut.jpg')